<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Walter Barraza | Business Engineering Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <script
      src="https://kit.fontawesome.com/836a943e18.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="/static/image/x-icon" href="/static/images/favicon.ico" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="nav-brand">
            <a href="index.html">
              <img src="/static/images/logo.png" alt="Walter" />
            </a>
          </div>
          <div class="burger-menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#landing-page">
                <img
                  src="/static/images/profile-pic.jpg"
                  alt="Walter Barraza"
                  class="profile-pic nav-link"
                />
                <span class="caption nav-link">Walter Barraza</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#strengths" class="nav-link">My Strengths</a>
            </li>
            <li class="nav-item">
              <a href="#background" class="nav-link">My background</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/Cosmonaut-afk" target="_blank" class="nav-link">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://twitter.com/Cosmocuack" target="_blank" class="nav-link">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <div class="cta">
              <a href="mailto:wal098031@gmail.com" target="_blank" class="btn nav-link">Mail me</a>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="landing-page" class="landing-page">
        <div class="container">
          <div class="main-message">
            <h2>Walter Barraza  </h2>
            <h3>Business Engineering Student</h3>
            <p>Learning: HTML . CSS . JavaScript . Java . SQL</p>
            <div class="intro-btn">
              <div class="cta">
                <a href="#contact" class="btn">Contact me</a>
              </div>
              <div class="cta">
                <a href="#background" class="btn">My Background</a>
              </div>
            </div>
            <div>
              <a href="#about" class="scroll-down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container">
          <div class="about-img">
            <img
              src="/static/images/profile-pic.jpg"
              alt="Walter Barraza"
              class="about-pic"
            />
          </div>
          <div class="about-text-box">
            <h2>Greetings 👋🏽</h2>
            <p>
              I am a 3rd year business engineering student at ESEN (Escuela Superior de Economía y Negocios, El Salvador) with a lot of enthusiasm and desire to work efficiently in different areas, I have learned a variety of programming languages so I have had a comprehensive education, having said that, I can adapt to most other languages easily.
            </p>
            <p>
              I know how to handle Python and it is one of the languages in which I feel most comfortable due to its easy use and its great utility in creating highly difficult codes. I have knowledge on how to use GitHub, the internet hosting provider for software develpment which is essential for working in most programming projects nowadays.
            </p>
            <p>
              Other languages that I know a little bit, but can easily learn are: HTML, Javascript, CSS, SQL, Java.
            </p>
            <p>
            Small fact: I have created this portfolio using pure HTML, Javascript and CSS.
            </p>
          </div>
        </div>
        <hr />
      </section>
      <section id="strengths" class="strengths"> 
        <div class="container">
          <div class="title-heading">
            <h2>MY STRENGTHS</h2>
            <p>
              These are 3 of my strengths that I personally think are most noticeable when I'm working.
            </p>
          </div>
          <div class="strengths-tiers">
            <div class="tier-item">
              <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
              <h2>Respectfulness</h2>
              <p>
                My main strength is respectfulness. I believe that respect is essential to work in a team, both the person and their ideas must be respected. With respect in our team we can have a complete and comprehensive vision to develop a complete response in our duties.
              </p>
            </div>
            <div class="tier-item">
              <i class="fa fa-laptop" aria-hidden="true"></i>
              <h2>Versatility</h2>
              <p>
                I am a versatile person, I take advantage of the knowledge I have in general to apply it in any case. Also, I really like learning new things and even more if they help me improve my work environment. I can manage change easily.
              </p>
            </div>
            <div class="tier-item">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h2>Determination</h2>
              <p>
                Personally I think that the determination of a person is the only limitation to tell us how far we can climb in life. With this thought in mind, I consider myself totally determined to get ahead with my job and gain countless opportunities for experience and achieve my goals.
              </p>
            </div>
          </div>
        </div>
        <hr />
      </section>
      <section id="background" class="background">
        <div class="title-heading">
          <h2>BACKGROUND</h2>
          <p>these are some of my most notable background experiences</p>
        </div>
        <div class="background-item">
          <div class="background-img has-margin-right">
            <img src="/static/images/sppms.png" />
          </div>
          <div class="background-description">
            <h2>SCHOOL GRADUATION</h2>
            <p>
              I graduated from a Christian Catholic school, I learned a lot about love and respect for others. I received a diploma in general accounting. I obtained the first academic place in my year, as well as the best grade of the PAES (Prueba de Aptitud de El Salvador) in my classroom.
            </p>
            <a href="https://www.facebook.com/Colegio-Eucar%C3%ADstico-del-Divino-Salvador-San-Vicente-2170326606346384/" class="background-link" target="_blank"
              ><i class="fa fa-facebook" aria-hidden="true"> See More About Colegio Eucarístico</i></a
            >
          </div>
        </div>

        <div class="background-item">
          <div class="background-description has-margin-right">
            <h2>MY STEPS IN AIESEC</h2>
            <p>
              In my first year of university I was part of AIESEC, a group of young people who sought growth and fulfillment of the 16 sustainable development goals proposed by the UN. I learned a lot about empathy and it opened many doors of contact with people from other countries.
            </p>
            <a href="https://aiesec.org/" class="background-link" target="_blank"
              ><i class="fa fa-google" aria-hidden="true"> See More About AIESEC</i></a
            >
          </div>
          <div class="background-img">
            <img src="/static/images/to-do.png" />
          </div>
        </div>

        <div class="background-item">
          <div class="background-img has-margin-right">
            <img src="/static/images/calculator.png" />
          </div>
          <div class="background-description">
            <h2>MY MAJORING</h2>
            <p>
              I am currently studying the 3rd Year of Business Engineering at ESEN, and I am looking forward to acquiring new experiences that will allow me to train even more and, of course, to take my knowledge with myself and share it with others creating efficient and cooperative workplaces.
            </p>
            <a href="https://www.esen.edu.sv/acerca-de-la-esen/" class="background-link" target="_blank"
              ><i class="fa fa-building" aria-hidden="true"> See More About ESEN</i></a
            >
          </div>
        </div>
        <hr />
      </section>
      <section id="contact" class="contact">
        <h2>Contact me</h2>
        <p>
          You can contact me for anything, I will gladly answer any questions you have about me or about anything else.
        </p>
        <p>
          <i
            >But remember, for any job proposal I ask you to begin with
            <strong>"JOB OPPORTUNITY"</strong></i
          >
        </p>
        <div class="container">
          <p>
            <a href="mailto:wal098031@gmail.com"
              ><i class="fas fa-envelope-open"></i> wal098031@gmail.com</a
            >
          </p>
          <p>
            <a href="https://github.com/Cosmonaut-afk" target="_blank"
              ><i class="fa fa-github" aria-hidden="true"> GitHub</i></a
            >
          </p>
          <p>
            <a href="https://twitter.com/Cosmocuack" target="_blank"
              ><i class="fab fa-twitter"> Personal Twitter</i></a
            >
          </p>
        </div>
        <hr />
      </section>
      <footer>
        <div class="footer-nav">
          <a href="#landing-page" class="footer-nav-link">Home</a>
          <a href="#about" class="footer-nav-link">About</a>
          <a href="#strengths" class="footer-nav-link">Strengths</a>
          <a href="#background" class="footer-nav-link">background</a>
          <a href="#contact" class="footer-nav-link">Contact</a>
        </div>
        <div class="footer-coded-by">
          <p>
            <i class="fas fa-code"></i> by Walter Barraza 2020
          </p>
          <p>Built with pure HTML, CSS and JavaScript</p>
        </div>
        <div class="footer-social">
          <a href="https://github.com/Cosmonaut-afk" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/Cosmocuack" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </footer>
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
